body {
  background-color: #D5F1FE;
  margin: 0px;
  font-family: 'Poppins';
  font-size: 25px;
}

.header {
  background-color: #5ECAFB;
  text-align: center;
}

.page-title {
  margin: 0px;
  padding-top: 10px;
  font-size: 40px;
  font-weight: 500;
}

.page-subtitle {
  margin: 0px;
  padding-bottom: 15px;
  font-size: 20x;
}

.color-option {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
}

.color-message {
  font-size: 25px;
  font-weight: bold;
  color: #2f90bd;
  display: inline;
}

.color-option select {
  width: 200px;
  height: 30px;
  border-width: 3px;
  border-color: grey;
  color: grey;
}

.contract {
  text-align: left;
  max-width: 900px;
  margin: auto;
  padding: 25px;
  padding-top: 0px;
}

.user-input input {
  width: 180px;
  font-size: 20px;
  text-align: left;
  border: 0;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

.attest-1, .attest-2, .user-input, .welcome, .signiture {
  padding: 20px;
}

.location, .date {
  color:  #2f90bd;
  font-weight: bold;
}

.submit-button {
  margin: auto;
  text-align: center;
}

.submit-button input {
  width: 150px;
  font-size: 25px;
  padding: 10px;
  border-color: black;
  border-width: 3px;
  color: white;
  background-color:  #5ECAFB;;
}